
<div class="modal fade" id="add-device-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Device to LibreNMS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-device-form" hx-post="{% url 'plugins:netbox_librenms_plugin:add_device_to_librenms' %}" hx-target="#modal-div">
                    <div class="form-group">
                        <label for="hostname">Hostname/IP</label>
                        <input type="text" class="form-control" id="hostname" name="hostname" value="{{ device.primary_ip.address.ip }}" required>
                    </div>
                    <div class="form-group">
                        <label for="snmpCommunity">SNMP Community</label>
                        <input type="text" class="form-control" id="snmpCommunity" name="community" required>
                    </div>
                    <div class="form-group">
                        <label for="snmpVersion">SNMP Version</label>
                        <select class="form-control" id="snmpVersion" name="version">
                            <option value="v2c">v2c</option>
                            <option value="v1">v1</option>
                            <option value="v3">v3</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Device</button>
                </form>
            </div>
        </div>
    </div>
</div>
