{% extends 'base/layout.html' %}
{% load buttons %}
{% load helpers %}
{% load plugins %}
{% load static %}
{% load i18n %}
{% load render_table from django_tables2 %}

{% block header %}
  <div class="page-header m-0">
    {{ block.super }}

    {% block page-header %}
      <div class="container-fluid mt-2 d-print-none">
        <div class="d-flex justify-content-between">
          <div>
            <h1 class="page-title mt-1 mb-2">Site and Location Sync</h1>
            <p class="text-muted">This page displays the synchronization status between NetBox sites and LibreNMS locations. It allows you to update or create locations in LibreNMS based on NetBox data.</p>
          </div>
        </div>
      </div>
    {% endblock %}
  </div>
{% endblock header %}

{% block content %}
  <div class="container-fluid">
    <form method="post">
      {% csrf_token %}
      <div class="row mb-3">
        <div class="col-12">
          <div class="card">
            <div class="card-body table-responsive">
                {% render_table table 'inc/table.html' %}
            </div>  
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock content %}
